

#nav ul {
  display: block;
}


#nav li {
  display: block;
  z-index: 20;
  padding-left: 10px;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
 /* overflow: hidden;*/
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
  z-index:10;
}
#nav-toggle {
  width: 75px;
  height: 100%;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: url(../images/hamburger.gif) 50% 33% no-repeat #272727;
  background-size: 100% auto;
}


@media screen and (min-width: 768px) {
  #nav ul > li {
      padding-left: 0;
      display: inline;
      z-index: 20;
      border-bottom: none;
  }
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}
