

/*     PAGE STYLE     */
/*   COLOR:  #eca022  */
/*--------------------*/


html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background: #2d2d2d;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #111;
	line-height: 1.1;
}
a {
	text-decoration: none;
	color: #e74c3c;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
	border-style: solid;
	border-top: 0;
	border-bottom: 1px solid #939393;
	margin-bottom: 30px;
}
strong {
	font-weight: 700;
}



.container {
	max-width: 1080px;
}
.wrapper.front {
	height: 100%;
}
.wrapper {
	position: static;
	background: #fff;
	min-height: 100%;
	min-height: 800px;
	padding-top: 120px;
}
.page_wrapper {
	min-height: 100%;
	padding-top: 120px;
}

/*     TYPOGRAPHY     */
/*--------------------*/

h1 { font-size: 2em; font-weight: 700;color:#e74c3c;}
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

/*     NAVIGATION     */
/*--------------------*/
nav {
	position:fixed;
	top:0;
	left:0;
	background:#e74c3c;
	color:#fff;
	width:100%;
	margin:0px auto;
	z-index: 200;
}
nav a{color:#fff;}
.toggleMenu {
	display:none;
	background:#e74c3c;
	padding: 10px 15px;
	color:#fff;
}
.nav {
	float: right;
	list-style: none;
	*zoom: 1;
	background:#e74c3c;
	position:relative;

}
.nav:before,
.nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear:both;
}
.nav ul {
	list-style: none;
	width: 9em;
}
.nav a {
	padding: 10px 15px;
	color: #fff;
	*zoom:1;
}
.nav > li {
	float: left;
	z-index:200;
	line-height: 50px;
}
.nav > li > a {
	display: block;
}
.nav li ul {
	position: absolute;
	left: -9999px;
	z-index: 100;
}
.nav li ul:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border-left: 10px solid transparent; /* arrow size */
	border-right: 10px solid transparent;
	border-top: 10px solid #e74c3c;
	/* positioning */
	position: absolute;
	top: 0px;
	left: 45%;
	z-index: 201;
}
.nav li li {
	line-height: 25px;
}
.nav li li a {
	display: block;
	background: #c0392b;
	position: relative;
	z-index: 100;
	border-top: 1px solid #87291f;
}
.nav li li li a {
	background: #c0392b;
	z-index: 200;
	border-top: 1px solid #c0392b;
}

/* HOVER STATES */
.nav li {
	position: relative;
}
.nav > li.hover > ul {
	left: -50%;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;
}
.nav li li a:hover {
	background: #a43125;
}

/* PARENT STYLES */
.nav > li > .parent {
	background-image: url(images/downarrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.nav li li .parent {
	background-image: url(images/downarrow.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

.statusBar {
	background: #c0392b;
	line-height: 30px;
}
.statusBar div {text-align: right;}


/*     LOGO STYLES      */
/*======================*/
.logo {position:relative;float:left;height:50px;}
.logo img {height:80%;margin-top:10%;}

/*     HEADER IMAGE     */
/*======================*/
header {
	background: #111;
	position: relative;
	height: 460px;
	margin-bottom: 30px;
	width: 100%;
}

.slider {
  margin-bottom: 10px;
  width: 100%; /* Update to your slider width */
  height: 100%; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}
.slider a {color:#fff;}
.slider a:hover {color:#e74c3c;}
.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
  height: 100%;
}
.slider li:nth-of-type(1){
	background: url(images/ArticleImage.jpg);
	background-size: cover;
	background-position: center center;
}
.slider li:nth-of-type(2){
	background: url(images/1original.jpg);
	background-size: cover;
	background-position: center center;
}
.slider li:nth-of-type(3){
	background: url(images/11original.jpg);
	background-size: cover;
	background-position: center center;
}
.slider li:nth-of-type(4){
	background: url(images/gta.jpg);
	background-size: cover;
	background-position: center center;
}
.slider_buttons {
	position: absolute;
	bottom: 15px;
	right: 10px;
}
.slider_buttons li {
	/*width: 10px;
	height: 10px;*/
	display: inline-block;
	/*background: white;*/
	z-index: 10;
	/*border-radius: 50%;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.5);*/
}
.slider_buttons li a {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	padding: 0 2px 0 2px;
}
.slider_buttons li.active a{
	color: #e74c3c;
}

.slider p {
	padding: 15px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

/*header article {
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 100%;
	background: #555 url(images/ArticleImage.jpg) no-repeat;
	background-position: 75% 50%;
	background-size: auto 100%;
}*/
/*.h_active {left:0;}
header article > div {
	padding: 10px;
	background: rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0;
	width:100%;
	color:#fff;
}*/



/*     CONTENT STYLES     */
/*========================*/
.content {
	padding: 0 30px 30px 30px;
}
.content > h1 {margin-bottom: 30px;border-bottom:1px solid #939393;color:#e74c3c;}





/*     MATCHES STYLES     */
/*========================*/

.matches > div{
	min-height: 125px;
	border: 1px solid #939393;
}
.matches h3 {border-bottom: 1px solid #939393;text-align: center;padding:5px;}
.matches p {text-align: center;}
.matches section {height:100%;}
.matches table {height:100%;padding: 10px 10px 10px 10px;}
.matches figure {float:left;width:38%;height:auto; text-align: center;}
.matches table td{vertical-align: middle;text-align: center;}
.matches table td:nth-of-type(1){width:38%; text-align:center;padding: 10px 10px 10px 10px;}
.matches table td:nth-of-type(3){width:38%;padding: 10px 10px 10px 10px;}
.matches table td img {width:100%;}
.matches table td:nth-of-type(2){width:20%;height:100%;text-align: center;}
.matches figure:nth-of-type(1){text-align: right;}
.matches figure img {width: 100%;}
.matches td h3 {border:none;}
.matches span {float:left;width:20%;height:100%;text-align: center;margin: 12.5% 2% 0 2%;}
.matches td h1 {text-align: center;color:#e74c3c;}
.match_over {background:#efefef;}
.match_loser {opacity: 0.5;}


/*     MVP STYLES     */
/*====================*/
.mvps {padding-right:20px;}
.mvp h1 {border-bottom: 1px solid #939393;margin-bottom:0px;padding-bottom: 5px;}
.mvp h2 {border-bottom: 1px solid #939393;font-size: 16px;font-weight: 700;padding:5px 0 5px 0;}
.mvp img {border-radius: 50%; max-height: 80px;}
.mvp > div {display:table;}
.mvp > div > span {display:inline-block; width:100%;}
.mvp > div > span > div:last-child {margin-right:0;}
.mvp > div > span > div {display: table;float:left;height:100px;margin-right: 5%;}
.mvp > div > span > div:nth-of-type(1){width:20%;}
.mvp > div > span > div:nth-of-type(3){width:32.9%;}
.mvp > div > span > div:nth-of-type(1) > div {text-align: center;}
.mvp > div > span > div:nth-of-type(3) > div {text-align: right;}
.mvp > div > span > div:nth-of-type(2){width:37%;}
.mvp > div > span > div > div {display: table-cell;vertical-align: middle;}
.mvp > div > span > div > div h3 {font-size:13px;text-align: right;}
.mvp > div > span > div > div h2 {font-size:18px;color:#e74c3c;text-align: left;border:0;padding:0;}
.mvp > div > span > div > div h1 {text-align: right;padding:0;border:0;margin:0;line-height:0.9;}



/*     STANDINGS STYLES     */
/*==========================*/
.standings {padding-right:20px;}
.standings span {display:inline-block;float:left;}
.s_row {width:100%;padding:7px 0 7px 0;}
.s_number {width:10%;}
.s_team {width:70%;}
.s_win {width:10%;text-align:right;}
.s_loss {width:10%;text-align:right;}



/*     PAST RESULTS STYLES     */
/*=============================*/
.results h2 {margin-bottom:10px;}
.results span {display:inline-block;float:left;}
.results > div {border-bottom: 1px solid #939393;padding-bottom:10px;}
.r_win {width:45%}
.r_time {width:10%;text-align:center;font-weight:300;}
.r_loss {width:45%;text-align:right;}
.mvp > div > div > span.r_stats_w {width:50%;margin-bottom:10px;}
.mvp > div > div > span.r_stats_l {width:50%;text-align:right;margin-bottom:10px;}



/*       ROSTER STYLES      */
/*==========================*/
.circle h1, .circle h3 {text-align: center;}
.circle h3 span {color:#e74c3c;font-weight: 700;}
.circle img {border-radius: 50%;margin:30px 0 15px 0;}
.circle > div {margin-bottom:30px;}

/*     TEAM BIO HEAD STYLES     */
/*==============================*/
.team {
	background: #111;
	min-height: 400px;

	padding: 10px 0 10px 0;
}
.team_bio {
	margin-left: 10%;
	width: 40%;
	height: 100%;
	display: table;
}
.team_bio > div {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.team_bio > div img {
	max-width: 40%;
	max-height: 30%;
	float:left;
	margin-right: 5%;
	margin-bottom: 5%;
}
.team_bio > div > span > {display: block;}
.team_bio > div > span > div {float:left;}
.team_bio h2 {color:#e74c3c;font-weight: 700;}
.team_bio p {font-size: 14px;line-height: 1.3;}


/*       SEASON STATS STYLES      */
/*================================*/
.season_stats {
	margin-bottom: 60px;
}
.season_stats h1{
	font-size: 26px;
}
.season_stats h2 {
	font-weight: 700;
	font-size: 32px;
}

/*       RELATED ARTICLES      */
/*=============================*/
.related_articles h1 {font-size: 24px;}
.related_articles h2 {font-size: 16px;}
.next_prev {width:100%; position: relative;height:30px;}
.next_prev span:nth-of-type(1){position:absolute;top:0;left:0;}
.next_prev span:nth-of-type(2){position:absolute;top:0;right:0;}

/*     PLAYER BIO STYLES     */
/*===========================*/
.player_bio {
	margin-left: 10%;
	width: 40%;
	height: 100%;
	display: table;
	float: left;
}
.player_bio > div {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.player_bio > div img {
	max-width: 40%;
	max-height: 30%;
	float:left;
	margin-right: 5%;
	margin-bottom: 5%;
}
.player_bio > div > span > {display: block;}
.player_bio > div > span > div {float:left;}
.player_bio h3 {color:#e74c3c;font-weight: 400;}
.player_bio h3 span {color:#fff;}
.player_bio h1 span {color:#fff;}
.player_bio p {font-size: 14px;line-height: 1.3;}

.player_image {float:left;width:50%;}
.player_image > div {display: table-cell;vertical-align: middle;float: right;margin:5%}
.player_image img {;max-width: 100%;max-height: 80%; border-radius: 50%;}

.player h1 {border: 0;}


.player_stats h1{font-size: 1.7em;}
.player_most_played h3 {
	color: #e74c3c;
	margin: 15px 0 15px 0;
}
.player_most_played h3 span {color: #000;}
.player_most_played h2 {font-size: 1.3em;}
h1.forceBorder {
	border-bottom:1px solid #939393;
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-size: 2em;
}
.mp_champ {text-transform:uppercase;}

/*     SCHEDULE STYLES     */
/*=========================*/
.weeks {border: 1px solid black;text-align: center;padding:2px;}
.weeks h2 {color:#e74c3c;font-weight: 700;display:inline-block;;line-height: 60px;width:100%;text-align: center;font-size: 1.3em;}
.weeks h2 a {color:#111;padding:15px;}
.weeks h2 a:hover {border-bottom: 3px solid #e74c3c;}
.weeks ul,
.weeks li {display:inline-block;;line-height: 60px;}
.standings h2 {border-bottom: 1px solid #939393;font-size: 16px;font-weight: 700;padding:5px 0 5px 0;}



/*     DETAILED STATS    */
/*=======================*/
.detailed_stats {
	border: 1px solid #939393;
}
.dt_row {
	background: #fff;
	padding: 10px 0 10px 0;
	width: 100%;
	/*height: 100px;*/
	overflow: hidden;
}
.dt_titles {
	color: #fff;
	font-weight: 700;
}
.dt_titles .dt_row {background: #e74c3c;}
.dt_titles .dt_row.division {background:#c0392b;text-align: center;padding:5px 0 5px 0;}
.dt_row ul {
	width: 100%;
	position: relative;
	height: 100%;
}

.dt_row ul li div {
	position: relative;
	/*display: table-cell;
	vertical-align: middle;*/
	text-align: center;
	width: 100%;
	clear: left;
}
.dt_row ul:after {
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
.dt_row li {
	height: 100%;
	text-align: center;
	position: relative;
	display: inline-block;
	height: 100%;
	width: 8.33%;
}
.dt_row li:nth-child(1) {margin-left:0;}
.dt_row li:nth-child(2),
.dt_row li:nth-child(8),
.dt_row li:nth-child(9) {width:16.66%;}



/*     ARTICLE STYLES    */
/*=======================*/

.article_title h1 {font-size: 4em;border:none;margin:0;}
.article_image {margin-bottom:30px;}
.article_content {padding-right:30px;margin-bottom:30px; line-height:1.4;}
.article h1 {border-bottom:1px solid #939393;margin-bottom:10px;padding-bottom:5px;}
.article h3 {color:#e74c3c;font-weight:700;}
.article h4 {margin-bottom:20px;}



/*     NEWS STYLES    */
/*====================*/

.news h2 {
	color: #e74c3c;
	font-weight: 700;
}
.news img {margin-bottom:15px;}
.news p {margin:15px 0 15px 0;}




/*     FAQ STYLES    */
/*===================*/
.faq h2 {color:#e74c3c;font-weight:700;border-bottom:1px solid #939393;padding-bottom:10px;margin-bottom:15px;}




/*     STAFF STYLES    */
/*=====================*/
.staff_image {width:35%;float:left;}
.staff_content {width:65%;float:left;padding:0 0 0 30px;}
.staff img {
	/*max-width: 33%;
	float: left;
	padding: 0 10px 10px 0;*/
	border-radius: 50%;
	max-width: 100%;
}
.staff h2 {color:#e74c3c;font-weight:700;height:auto;}
.staff h2 img {height: 100%;margin-left:10px;}
.staff h3 {margin-bottom: 15px;}
.staff .col {margin-bottom: 90px;}



/*     SPONSORS STYLES    */
/*========================*/
.sponsors h2 {color:#e74c3c;font-weight:700;height:auto;margin-bottom:15px;}
.sponsors h2 span {margin-left:15px;}
.sponsors h2 img {height: 100%;margin-left: 5px;}
.sponsors .row {margin-bottom:90px;}




/*     MATCH STYLES    */
/*=====================*/
.match_header {background:#111111;color:#ffffff;text-align:center;padding:60px 30px 60px 30px;}
.match_header h1 {text-align:center;color:#fff;margin-bottom:15px;}
.match_header h3 {text-align:center;}
.match_header h1.win {line-height: 0.7em;color:#e74c3c;}
.match_header > div:nth-of-type(1) img {float:right;padding:0 0 5% 5%;}
.match_header > div:nth-of-type(1) h3 {text-align: right;}
.vs {
	background: #111;
	font-size: 3em;
	font-weight: 700;
	color: #e74c3c;
	text-align: center;
	width: 70px;
	height: 70px;
	line-height: 68px;
	border-radius: 50%;
	border: 2px solid #e74c3c;
	margin: 15px auto 15px auto;
}
.match_header h1.team_one {text-align: right;}
.match_header h1.team_two {text-align: left;}
.match_team img {max-width: 50%;float:left;padding:0 5% 5% 0;}
.match_stats {float:left;text-align:left;margin-top:30px;width:50%;}
.match_stats h1 {text-align:left;}
.match_stats h1 span {color:#e74c3c;}
.match_stats h3 span {color:#e74c3c;}
.match_stats h3 {text-align:left;}

.match_ds {border: 1px solid #939393;}
.match_ds_title h3 {background:#e74c3c;color:#fff;text-align:center;padding: 10px 0 10px 0;font-weight:700;}
.match_ds_title table tr {background:#c0392b;color:#fff;padding: 5px 0 5px 0;}
.match_ds_row {padding: 10px 0 10px 0;}

.match_ds table h3 {text-align:center;color:#e74c3c;font-weight:700;}
.match_ds table {width:100%;}
.match_ds table tr {border-bottom:1px solid #939393;}
.match_ds table tr:last-child {border-bottom:none;}
.match_ds table td {padding:10px 0 10px 0;text-align:center;vertical-align:middle;width: 8.33%;}

.match_ds table td span {color:#e74c3c;font-weight:700;}




.match_ds_title table td:nth-child(1),
.match_ds_title table td:nth-child(2),
.match_ds_title table td:nth-child(4),
.match_ds_title table td:nth-child(5)  {width:16.66%;}

/*.match_ds table td:nth-child(4),*/
/*.match_ds table td:nth-child(5),*/
.match_ds table td:nth-child(6),
.match_ds table td:nth-child(7) {width:16.66%;}
.match_ds_title table td:nth-child(6),
.match_ds_title table td:nth-child(7) {width: 8.33%;}

.match_ds table td img {max-width: 100%; padding:0 10px 0 10px;}
.match_ds table td.items img {max-width:32%;margin-right:2%;padding:0;margin-bottom: 5px;}
.match_ds table td.items img:nth-of-type(3n+3) {margin-right: 0;}
.match_ds table td:nth-of-type(4){text-transform: uppercase;}

.towers table tr {border-top:1px solid #939393;}
.towers table td:nth-child(1),
.towers table td:nth-child(3),
.towers table td:nth-child(5){background:#e74c3c;color:#fff;font-size:1.3em;width: 8.33%;}
.towers table td:nth-child(2),
.towers table td:nth-child(4),
.towers table td:nth-child(6){width:16.66%;text-align:left;padding:10px;}
.towers table td span {display:block;font-weight:700;color:#fff;text-align:center;}
.towers table td em {color:#e74c3c;margin-right:10px;font-weight:700;}


/*     COMMENTS STYLES     */
/*-------------------------*/

h3#comments {
	font-weight: 400;
	font-size: 24px;
	margin: 100px 0 50px 0;
}
.comment {margin-bottom:30px;}
.children {margin: 15px 0 0 50px;}
a.commentsLink {color: #fff;}
#respond {margin-top: 50px;}
#respond textarea {background:#efefef; width: 100%; padding: 1%;}
#respond form {width: 100%;}
#respond form p {margin-bottom: 20px;}
input{
	background: #efefef;
	border: none;
	padding: 10px;
	font-family: "Roboto Condensed";
	border-radius: 5px;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
}

/*     ERROR STYLES     */
/*----------------------*/

.error {font-size: 5em;padding:5%;text-align: justify;line-height: 1.5;}

/*     FOOTER STYLES     */
/*=======================*/

footer {
	color: #939393;
	background: #111;
	min-height: 200px;
	padding: 30px;
}
footer h3 {
	border-bottom: 1px solid #939393;
	padding-bottom: 5px;
	margin-bottom: 15px
}
footer a {
	display: block;
	color: #939393;
	margin-bottom: 10px;
}
footer a:hover{color:#fff;}






/*=======================*/
/*     MEDIA QUERIES     */
/*=======================*/

@media screen and (max-width: 767px) {
	.nav {
		float: none;
	}
	.nav > li {
		float: none;
		border-top: 1px solid #c0392b;
		line-height: 25px;
	}
	.nav ul {
		display: block;
		width: 100%;
	}
	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
	}
	.nav > li > .parent {
		background-position: 95% 50%;
	}
	.nav li li {
		line-height: 16px;
	}
	.nav li li .parent {
		background-image: url(images/downarrow.png);
		background-repeat: no-repeat;
		background-position: 95% 50%;
	}
	.toggleMenu {line-height: 50px}
	.statusBar div {padding: 0 10px 0 10px;}

	.team_bio {
		max-width: 100%;
		width: auto;
		height: 100%;
		display: table;
	}
	.player_bio {
		max-width: 100%;
		width: auto;
		height: 100%;
		padding: 0;
		margin: 10px;
		display: table;
	}
	
	.player_image {width:100%;}
	.player_image > div {width:100%;text-align: center;margin:0 0 10px 0;}
	.logo {
		top: 0;
		right: 30px;
		position: absolute;
		height: 50px;
	}
	.circle > div {text-align: center;}
}
